<h1>User#login</h1>
<p>I have been edited by jacob@moringa<p>


<div class="login_form">
<%= form_tag(:action => 'login') do %>
<table class="login_table">
<tr>
  <td>username</td>
  <td colspan=2> <%= text_field_tag(:username)%></td>
</tr>

<tr>
  <td>password</td>
  <td colspan=2> <%= password_field_tag(:password_hash)%> </td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td> <%= submit_tag("login") %></td>
  <td><input type="reset" value = "reset" /></td>
</tr>
</table>
<% end %>
