<h1>User#login</h1>
<p>I have been edited by jacob@moringa<p>
<p>Find me in app/views/user/login.html.erb</p>

<div class="login_form">

<table class="login_table">
<tr>
  <td>username</td>
  <td><input type="text" /></td>
</tr>
</table>
